<div class="row">
  <div class="col-md-8">
    <div class="cards">
      <% @jobs.each do |job| %>
        <div class="panel panel-default card">
          <% unless job.expired? %>
            <div class="panel-heading">
              <h1><%= link_to job.title, job %></h1>
              <div class="img-wrapper">
                <%= image_tag 'new', alt: 'Nova Vaga', size: '32', class: 'img-responsive' if job.recent? %>
              </div>
            </div>
            <div class="panel-body">
              <%= content_tag(:strong, 'Destaque') if job.featured? %>
              <dl class="dl-horizontal">
                <dt>Local</dt>
                <dd><%= job.location %></dd>
                <dt>Categoria</dt>
                <dd><%= job.category.name %></dd>
                <dt>Empresa</dt>
                <dd><%= job.company.name %></dd>
              </dl>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <aside class="list-group panel panel-default">
      <div class="panel-heading">
        <h3>Empresas</h2>
      </div>
      <ul class="list-unstyled">
        <% @companies.each do |company| %>
          <li><%= link_to company.name, company, class: 'list-group-item' %></li>
        <% end %>
      </ul>
    </aside>
    <aside class="list-group panel panel-default">
      <div class="panel-heading">
        <h3>Categorias</h2>
      </div>
      <ul class="list-unstyled">
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category, class: 'list-group-item' %></li>
        <% end %>
      </ul>
    </aside>
  </div>
</div>
