<%= form_for @job, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Título', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, 'Local', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, 'Categoria', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select :category_id, @categories, :id, :name, {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :company_id, 'Empresa', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select :company_id, @companies, :id, :name, {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descrição', class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :featured, 'Destaque', class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.check_box :featured, class: 'checkbox' %>
    </div>
  </div>
  <%= f.submit submit_text, class: 'btn btn-default' %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-default' %>
<% end %>
