<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= job.title %><%= image_tag 'new', size: '32' if job.recent? %></h1>
  </div>
  <div class="panel-body">
    <%= content_tag(:p, 'Vaga Expirada!') if job.expired? %>
    <%= content_tag(:strong, 'Destaque') if job.featured? %>
    <dl class="dl-horizontal">
      <dt>Empresa</dt>
      <dd><%= job.company.name %></dd>
      <dt>Localização</dt>
      <dd><%= job.location %></dd>
      <dt>Categoria</dt>
      <dd><%= job.category.name %></dd>
      <dt>Descrição Completa</dt>
      <dd><%= job.description %></dd>
    </dl>
  </div>
</div>
