<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Nova Vaga</h2>
  </div>
  <div class="panel-body">
    <%= render partial: 'form', locals: { submit_text: 'Criar Vaga' } %>
  </div>
</div>
