<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= company.name %><%= image_tag "estrela.png", size: '32' if company.premium? %></h1>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Localização</dt>
      <dd><%= company.location %></dd>
      <dt>Email</dt>
      <dd><%= company.mail %></dd>
      <dt>Contato</dt>
      <dd><%= company.phone %></dd>
    </dl>
  </div>
</div>
