<%= form_for @company, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nome', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, 'Localização', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mail, 'Email', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :mail, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Telefone', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit submit_text, class: 'btn btn-default' %>
  <%= link_to 'Voltar', root_path, class: 'btn btn-default' %>
<% end %>
