.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  padding-bottom: auto;
}

@media (min-width: 768px) {
    .card {
      width: 50%;
    }
}

.card-header {
  display: flex;
  flex-wrap: wrap;

  .img-wrapper {
    min-width: 32px;
    width: 32px;
    margin: auto;
  }

  img {
    width: 100%;
  }
}

ul {
  margin: 0;
}

.dl-horizontal {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}
