<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Nova Categoria</h2>
  </div>
  <div class="panel-body">
    <%= form_for @category, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nome:', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Categoria' %>
      </div>
    </div>
    <%= f.submit 'Criar Categoria', class: 'btn btn-default' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
