<!DOCTYPE html>
<html>
  <head>
    <title>Emprego Já</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- NAVBAR -->
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <h1 class="navbar-text"><%= link_to 'Emprego Já', root_path, class: 'navbar-link' %></h1
        </div>
      </nav>
    </header>
    <div class="container">
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <p class="text-warning">
            <%= flash[:alert] %>
          </p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
